.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header {
  background: linear-gradient(90deg, var(--accent-pink), var(--accent-orange));
  -webkit-box-shadow: var(--accent-shadow-dark);
  -moz-box-shadow: var(--accent-shadow-dark);
  box-shadow: var(--accent-shadow-dark);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.wrapper {
  display: flex;
  column-gap: 16px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 250ms linear;
  font-size: 16px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-grey);
  outline: none;
}

@media (min-width: 768px) {
  .nav-link {
    font-size: 20px;
  }
}
