@import-normalize; /* bring in normalize.css styles */

:root {
  --accent-pink: rgb(0, 0, 128);
  --accent-orange: rgb(0, 128, 128);
  --accent-shadow: 0px 10px 5px 0px rgba(57, 102, 207, 0.36);
  --accent-grey: rgb(192, 192, 192);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 40px;
}

* {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  line-height: 1.5;
  font-family: 'Montserrat';
  color: white;
  position: relative;
  padding-top: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
}
