.contacts-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.contacts-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--accent-pink), var(--accent-orange));
  -webkit-box-shadow: var(--accent-shadow-dark);
  -moz-box-shadow: var(--accent-shadow-dark);
  border: 1px solid gray;
  padding: 10px;
}

